@tailwind base;
@tailwind components;
@tailwind utilities;

#PromptA{
all: unset;
height: 30px;
width: 97%;
padding: 0.5rem;
border-radius: 0.5rem;
margin-bottom: 0.75rem;
background: black!important;
overflow-y: hidden;
overflow-x: hidden;
}